.transition-component {
  opacity: 0;
  transition: opacity 0.4s ease-in-out; /* Example transition effect */
}

.transition-component.active {
  opacity: 1;
}

.hover-over:hover {
  background-color: #198754;
  color: white;
  cursor: pointer;
}